<Section class="portifolio">

  <app-dashboard></app-dashboard>
<!--<h1 class="titulo">Projetos Front-end</h1>

<div class="flex">
    <div class="projetos">

    <iframe width="320" height="240" src="https://www.youtube.com/embed/cpbZd-Rrcu4" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
    <h1>Legenda...</h1>

  </div>

  <div class="projetos">

    <iframe width="320" height="240" src="https://www.youtube.com/embed/cpbZd-Rrcu4" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
    <h1>Legenda...</h1>

  </div>
  <div class="projetos">

    <iframe width="320" height="240" src="https://www.youtube.com/embed/cpbZd-Rrcu4" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
    <h1>Legenda....</h1>

  </div>
  <div class="projetos">

    <iframe width="320" height="240" src="https://www.youtube.com/embed/cpbZd-Rrcu4" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
    <h1>Legenda...</h1>
  </div>
</div>-->
<ng-content select="app-dashboard"></ng-content>
</Section>














