

<header>

  <nav class="fixed-top  justify-content-end">
    <div class="container ">
        <div >
          <div class="col-sm-12 p-flex  p-flex-jc-sb">
            <button mat-button [matMenuTriggerFor] = "menu"><mat-icon class="icon">menu</mat-icon> </button>
            <mat-menu #menu = "matMenu">
              <button mat-menu-item>New</button>
              <button mat-menu-item>Open</button>
              <button mat-menu-item [matMenuTriggerFor] = "recent">Recent</button>
            </mat-menu>
            <mat-menu #recent = "matMenu">
              <button mat-menu-item>File 1</button>
              <button mat-menu-item>File 2</button>
            </mat-menu>
           <nav>
            <ul>
                <li>
                    <a routerLink="home" routerLinkActive="ativo" >Home</a>
                </li>
                <li>
                    <a routerLink="more-info" routerLinkActive="ativo">Sobre</a>

                </li>
                <li>
                  <a routerLink="portfolio" routerLinkActive="ativo">Portfolio</a>
                </li>
                <li>
                 <a routerLink="certificados" routerLinkActive="ativo">Certificados</a>
                </li>
                <li>
                  <a routerLink="certificacoes" routerLinkActive="ativo">Certificações</a>
                </li>

              </ul>
            </nav>
          </div>
        </div>
    </div>
  </nav>

</header>



<section class="p-wrapper" >



<router-outlet></router-outlet>

</section>
