<section class="p-wrapper">

  <div class="container">
    <div class="row">
      <div class="col-sm-5">
          <div class="p-profile"></div>
      </div>
      <div class="col-sm-7 p-rgt-sec">
        <div>
          <span class="p-tag">Desenvolvedor</span>
        <h1 class="mt-4">Marcos Bruno</h1>
        <p class="p-des mt-3 mb-4"><b>Front-end -</b> Utilizando ferramentas modernas como JavaScript , React, Angular e NextJs, para desenvolvimento de toda aplicação. Essas ferramentas permitem que a implementação e qualquer manutenção necessária seja mais rápida, dando agilidade ao processo de desenvolvimento.<br><b>Back-end -</b> A Utilizando Linguagens de programação como C# e Java permite que possamos fazer manuseio de frameworks para back-end, criação, implementação e manutenção de bancos de dados e criação e integração de APIs</p>

        </div>

      </div>
    </div>
  </div>

</section>
