.p-wrapper::before{
  content: '' ;
  background: #2E6FF2;
  height: 100vh;
  width: 25vw;
  position: absolute;
  z-index: -1;
}

.p-profile{
  background: url(/assets/img/Foto.png);
  width: 100%;
  height: 495px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.p-rgt-sec{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.p-tag{
  font-family: 'Source Serif Pro', serif;
  background: #5e5959;
  color: #fff;
  padding: 5px 10px;
  font-size: 14px;
}
.p-des{
  font-family: 'Source Serif Pro', serif;
  color: #3d3a3a;
  width: 80%;
  text-align: justify;
}
form .input-group{
  box-shadow: 1px 2px 12px 1px #0003;
}
form .form-control{
  min-height: 60px;
  padding: 10px 20px;
  border-radius: 0;
  border: 0;
  outline: none;
  box-shadow: none;
  background-color: #fff;
  width: calc(100% - 141px);
}
form .btn-warning{
  min-height: 60px;
  border: 0;
  border-radius: 0;
  padding: 10px 35px;
  font-weight: 500;
}

.mt-4
{
  font-family:'Source Serif Pro', serif;
  color: #3d3a3a;
}

.animation{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items:center;
  justify-content: center;
}
  .mt-4{

    padding: 10px;
    width: 450px;
    background: var(--background);
    }

    .line{
      border-right: 2px solid rgba(255, 255, 255, .75);
      color: black;
      font-family: monospace;
      font-size: 2em;
      margin: 0, auto;
      white-space: nowrap ;
      overflow: hidden;
      text-align: center;
    }

    .type-animation{
      animation: blinkCursor 500ms steps(40) infinite, typing 4s steps(40) 1s normal both;
    }

    @keyframes typing {
      from{
        width: 0;

      }
      to{
        width: 14em;
      }
    }

    @keyframes blinkCursor{

      from{
        border-right-color: black;
      }
      to{
        border-right-color: transparent;
      }
      }
