<section class="p-wrapper">

  <div class="container">
    <div class="row">
      <div class="col-sm-5">
          <div class="p-profile"></div>
      </div>
      <div class="col-sm-7 p-rgt-sec">
        <div>
          <span class="p-tag">Desenvolvedor Full Stack</span>
          <div class="animation ">
            <div class="mt-4">
            <p class="line type-animation" >Olá, eu sou Marcos Bruno.</p>
          </div>
          </div>
          <span class="p-tag">Atuação</span>
        <p class="p-des mt-3 mb-4"><b>Front-end -</b> Utilizando ferramentas modernas como JavaScript , React, Angular e NextJs, para desenvolvimento de toda aplicação. Essas ferramentas permitem que a implementação e qualquer manutenção necessária seja mais rápida, dando agilidade ao processo de desenvolvimento.<br><b>Back-end -</b> A Utilizando Linguagens de programação como C# e Java permite que possamos fazer manuseio de frameworks para back-end, criação, implementação e manutenção de bancos de dados e criação e integração de APIs</p>
        <p class="p-des mt-3 mb-4"><b>Cloud Computing -</b> Cloud Computing, ou Computação na Nuvem, é uma tecnologia que permite acesso remoto a softwares, armazenamento de arquivos e processamento de dados por meio da internet. É uma alternativa para você acessar dados importantes de qualquer computador, em qualquer lugar.<br>
        </div>

      </div>
    </div>
  </div>

</section>
